{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-hint">[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Params.title_en }}
    <p class="post-description">{{ .Params.title_en }}</p>
    {{- end }}
    {{- if ne .Type "search" }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>

  {{ partial "problem_meta.html" . }}

  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if .Content }}
  <div class="post-content rtl-content" {{- if .Params.rtl }} dir="rtl"{{ end }}>
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
  </footer>

  {{- partial "comments.html" . }}
</article>

{{- end }}{{/* end main */}}
